/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 1em;
}

p {
	font-size: 90%;
	position: relative;
	left: 37%;
	margin-bottom: 0.25em;
	margin-right: 0;
	width: 65%;
}

code {
	font: normal normal;
	font-size: 80%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #315572;
}

p code {
	position: absolute;
	left: -21%;
}


ul {
	position: relative;
	left: 35%;
	width: 65%;
	margin-bottom: 1.5em;
	padding-top: 50px;
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 65%;
}

h1 {
	font-family: "Lucida Console", Monaco, monospace;
  padding-top: 30px;
	text-align: left;
	font-size: 3.1em;
	line-height: 1em;
	position: relative;
	width: 30%;
	left: 35%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 100%;
	position: relative;
	width: 30%;
	left: 30%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

h2 {
	font-size: 1.1em;
	color: #b91414;
	margin-top: 1.5em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

h3 {
	font-size: 1em;
	color: #b91414;
	line-height: 1em;
	position: relative;
	top: 1.2em;
	text-align: right;
	width: 20%;
}

a {
	color: #b91414;
}

a:hover {
	color:#315572;
}

p a {
	font-size: 100%;
	font-style: italic;
}

#webaddress {
	position: relative;
	left: 36%;
	color: #315572;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 100%;
	margin-bottom: -1em;
}

#webaddress a {
	color:#315572;
	display: inline-block;
	text-decoration: none;
}

em {
	font-size: 90%;
	font-style: italic;
}

#webaddress p {
	left: 0.1%;
	color:#b91414;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 80%;
	display: inline-block;
	text-decoration: none;
}

#language span{
	display: none;
}

strong {
	font-weight: bold;
}

i {
		display: inline-block;
		position: absolute;
		left: 15%;
}

#address {
	display: none;
}

#ghbutton {
	display: none;
	visibility: hidden;
}
