/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* Grandparent */
html,
body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	font-family: 'Open Sans', 'Noto Sans SC', sans-serif;
	margin-top: 1em;
	overflow-x: hidden;
}

/* Parent Class */
p {
	font-size: 86%;
	position: relative;
	display: inline-block;
	left: 37%;
	margin-bottom: 0.5em;
	width: 65%;
}


/* year and month */
p code {
	font-size: 85%;
	font-family: 'Source Code Pro', monospace;
	color: #315572;
	position: relative;
	display: inline-block;
	left: -21%;
	width: 35%;
	text-align: left;
}

strong {
	font-size: 100%;
	font-weight: bold;
	position: relative;
	display: inline-grid;
	left: -36.5%;
	line-height: 2;
	text-align: left;
}


h1,h2,h3,h4 {
	font-weight: 400;
	font-family: 'Open Sans', 'Noto Sans SC', sans-serif;
	width: 65%;
}

h1 {
	font-family: 'STKaiti', '华文楷体', 'KaiTi' , '楷体', serif;
  padding-top: 30px;
	text-align: left;
	font-size: 3.1em;
	line-height: 1em;
	position: relative;
	width: 35%;
	left: 37%;
	display: inline-block;
}

/* B.Sc RWTH */
h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 100%;
	position: relative;
	text-align: left;
	width: 30%;
	left: 24%;
	display: inline-block;
}

h2 {
	font-size: 1.1em;
	color: #b91414;
	margin-top: 2em;
	position: relative;
	display: block;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

/* link */
a {
	color: #b91414;
}

a:hover {
	color:#315572;
}

/* link italic */
p a {
	font-size: 100%;
	font-style: italic;
}

#webaddress {
	position: relative;
	left: 37%;
	color: #315572;
	font-family: 'Source Code Pro', monospace;
	font-size: 100%;
}

#webaddress a {
	color:#315572;
	display: inline-block;
	text-decoration: none;
}

em {
	font-size: 90%;
	font-style: italic;
}

#webaddress p {
	left: 0.1%;
	color:#b91414;
	font-family: 'Source Code Pro', monospace;
	font-size: 80%;
	display: block;
	text-decoration: none;
}

#language span{
	font-size: 90%;
	display: block;
	position: relative;
	top: -5.8em;
	text-align: right;
	width: 20%;
}

i {
	display: inline-block;
	position: absolute;
	left: 15%;
}

ii {
	display: inline-block;
	font-style: italic;
	position: absolute;
	text-align: left;
	left: 15%;
	top: 0.2em;
}
