/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


/* Grandparent */
html,
body {

	font: normal normal 400;
	font-size: 100%;
	line-height:1.5em;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	overflow-x: hidden;

}


@media (max-width: 1375px) and (min-width: 1250px){
		html,
		body {
			font-size: 95%;
		}
}
@media (max-width: 1250px) and (min-width: 1200px){
		html,
		body {
			font-size: 92%;
		}
}
@media (max-width: 1200px) and (min-width: 1120px){
		html,
		body {
			font-size: 90%;
		}
}
@media (max-width: 1120px) and (min-width: 1000px){
		html,
		body {
			font-size: 85%;
		}
}
@media (max-width: 1000px) and (min-width: 900px){
		html,
		body {
			font-size: 85%;
		}
}
@media (max-width: 900px) and (min-width: 800px){
		html,
		body {
			font-size: 80%;
		}
}
@media (max-width: 800px) and (min-width: 700px){
		html,
		body {
			font-size: 80%;
		}
}
@media (max-width: 700px) and (min-width: 590px){
		html,
		body {
			font-size: 75%;
		}
}

@media (max-width: 590px) and (min-width: 500px){
		html,
		body {
			font-size: 70%;
		}
}

@media (max-width: 500px) and (min-width: 460px){
		html,
		body {
			font-size: 66%;
		}
}
@media (max-width: 460px) and (min-width: 400px){
		html,
		body {
			font-size: 62%;
		}
}
@media (max-width: 400px) and (min-width: 350px){
		html,
		body {
			font-size: 56%;
		}
}
@media (max-width: 350px) and (min-width: 330px){
		html,
		body {
			font-size: 54%;
		}
}
@media (max-width: 330px){
		html,
		body {
			font-size: 50%;
		}
}
/* Parent Class */
/* Contents */
p {
	font-size: 0.9em;
	position: relative;
	display: inline-block;
	left: 37%;
	margin-bottom: 0.5rem;
	width: 65%;

}
p samp{
  font-weight: bold;
}

/* year and month */
p code {
	font-size: 0.85em;
	font-family: 'Source Code Pro', monospace;
	color: #315572;
	position: relative;
	display: inline-block;
	left: -21%;
	width: 37%;
	text-align: left;
}

/* language name */
p tt{
	font-size: 0.85em;
	font-family: 'Source Code Pro', monospace;
	color: #315572;
	position: relative;
	display: inline-block;
	left: -21%;
	width: 37%;
	text-align: left;
}

/* Bold Text */
p strong {
	font-size: 1em;
	font-weight: bold;
	position: relative;
	display: inline;
	left: -37.5%;
	width: 95%;
	line-height: 1.5em;
	text-align: left;
}

p var {
	font-size: 1em;
	font-weight: bold;
	position: relative;
	display: inline;
	left: -37.5%;
	width: 85%;
	line-height: 1.5em;
	text-align: left;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	width: 65%;
}

/* Title */
h1 {
	font-family: 'Source Code Pro', monospace;
  padding-top: 30px;
	text-align: left;
	font-size: 4.1em;
	line-height: 1rem;
	position: relative;
	width: 35%;
	left: 37%;
	display: inline-block;
}

/* B.Sc RWTH */
h1+p {
	/*subtitle*/
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	position: relative;
	text-align: left;
	width: 30%;
	left: 28%;
	top:-0em;
	display: inline-block;
}

/* Left Column */
h2 {
	font-size: 1.1em;
	color: #b91414;
	margin-top: 2.7rem;
	position: relative;
	display: block;
	top: 1.4rem;
	text-align: right;
	width: 20%;
}

/* link */
a {
	color: #b91414;
}

a:hover {
	color:#315572;
}

/* link italic */
p a {
	font-size: 1em;
	font-style: italic;
}

/* email */
#webaddress {
	position: relative;
	left: 38%;
	color: #315572;
	font-family:'Source Code Pro', monospace;
	font-size: 1em;
}

#webaddress a {
	color:#315572;
	display: inline-block;
	text-decoration: none;
}

em {
	font-size: 1em;
	font-style: italic;
}

#webaddress p {
	left: 0.1%;
	color:#b91414;
	font-family: 'Source Code Pro', monospace;
	font-size: 0.8em;
	display: block;
	text-decoration: none;
}

/* upleft corner*/
#language span{
	font-size: 0.9em;
	display: block;
	position: relative;
	top: -6em;
	text-align: right;
	width: 20%;
}

img {
	width: 7%;
	height: auto;
}

i {
	display: inline-block;
	position: absolute;
	left: 15%;
}

ii {
	display: inline-block;
	font-style: italic;
	position: absolute;
	text-align: left;
	left: 25%;
	top: 0.2em;
}



/* PHONE */
/* 800px */
/* Mobile */

@media (max-width: 800px){
				p {
					font-size: 1.1em;
					position: relative;
					display: inline-block;
					left: 10%;
					margin-top: 0.2rem;
					margin-bottom: 0.2rem;
					width: 85%;
				}

				/* year and month */
					p code {
						font-size: 0.9em;
						font-family: 'Source Code Pro', monospace;
						color: #315572;
						position: relative;
						display: inline-block;
						left: 0%;
						width: 75%;
						text-align: left;
						margin-top: 1em;
						margin-bottom: 0.2rem;
					}

					/* language name */
					p tt{
						font-size: 0.9em;
						font-family: 'Source Code Pro', monospace;
						color: #315572;
						position: absolute;
						display: inline;
						left: 62%;
						width: 25%;
						text-align: left;
					}

					/* Bold Text */
					p strong {
						font-size: 1em;
						font-weight: bold;
						position: relative;
						display: inline-block;
						left: 0%;
						width: 95%;
						line-height: 0em;
						margin-top: 0.2rem;
						margin-bottom: 0.2rem;
						text-align: left;
					}
					p var {
						font-size: 1em;
						font-weight: bold;
						position: relative;
						display: inline-block;
						left: 0%;
						width: 90%;
						line-height: 0em;
						margin-top: 0.2rem;
						margin-bottom: 0.2rem;
						text-align: left;
					}

					h1,h2,h3,h4 {
						font-weight: 400;
						font-family: 'Open Sans', sans-serif;
						width: 65%;
					}

					h1 {
						font-family: 'Source Code Pro', monospace;
					  padding-top: 1.5em;
						text-align: left;
						font-size: 4.1em;
						line-height: 1rem;
						position: relative;
						width: 35%;
						left: 25%;
						display: inline-block;
					}

					/* B.Sc RWTH */
					h1+p {
						/*subtitle*/
						font-style: italic;
						font-family: 'Open Sans', sans-serif;
						font-size: 1em;
						position: relative;
						text-align: left;
						top:0em;
						width: 30%;
						left: 18%;
						display: inline-block;
					}

					h2 {
						font-size: 1.05rem;
						color: #b91414;
						margin-top: 1rem;
						margin-bottom: 2rem;
						position: relative;
						display: inline-block;
						top: 1.4rem;
						text-align: left;
						left: 10%; 										/* p:: left */
						width: 90%;
					}

					/* link */
					a {
						color: #b91414;
					}

					a:hover {
						color:#315572;
					}

					/* link italic */
					p a {
						font-size: 1em;
						font-style: italic;
					}

					/* email */
					#webaddress {
						position: relative;
						left: 27%;
						color: #315572;
						font-family:'Source Code Pro', monospace;
						font-size: 0.8rem;
					}

					#webaddress a {
						color:#315572;
						display: inline-block;
						text-decoration: none;
					}

					em {
						font-size: 0.9em;
						font-style: italic;
					}

					#webaddress p {
						left: 0.1%;
						color:#b91414;
						font-family: 'Source Code Pro', monospace;
						font-size: 0.8em;
						display: block;
						text-decoration: none;
					}


					#language span{
						font-size: 0.9em;
						display: block;
						position: relative;
						top: -6em;
						text-align: right;
						right:0em;
						width: 20%;
					}

					img {
						width: 7%;
						height: auto;
					}

					/* language niveau */
					i {
						display: inline;
						position: absolute;
						text-align: left;
						width: 50%;
						left: 20%;
					}

					/* driving cataloge */
					ii {
						display: inline;
						font-style: italic;
						position: absolute;
						text-align: left;
						left: 38%;
					}
}


@media (max-width: 1000px) and (min-width: 800px){

	/* Parent Class */
	/* Contents */
	p {
		font-size: 90%;
		position: relative;
		display: inline-block;
		left: 25%;
		margin-bottom: 0.5em;
		margin-top: 0.2em;
		width: 75%;
	}

	p samp{
	  font-weight: bold;
	}

	p var {
		font-size: 90%;
		position: relative;
		display: inline-block;
		left: 0%;
		margin-bottom: 0.5em;
		margin-top: 0.2em;
		width: 75%;
		font-weight: bold;
	}

	/* year and month */
	p code {
		font-size: 85%;
		font-family: 'Source Code Pro', monospace;
		color: #315572;
		position: relative;
		display: inline-block;
		left: -36%;
		width: 30%;
		text-align: right;
	}

	p tt {
		font-size: 85%;
		font-family: 'Source Code Pro', monospace;
		color: #315572;
		position: absolute;
		display: inline;
		top: 0em;
		left: -37%;
		width: 30%;
		text-align: right;
	}

	/* Bold Text */
	p strong {
		font-size: 100%;
		font-weight: bold;
		position: relative;
		display: inline;
		left: -30.5%;
		width: 95%;
		line-height: 1;
		text-align: left;
	}


	h1,h2,h3,h4 {
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		width: 65%;
	}

	h1 {
		font-family: 'Source Code Pro', monospace;
		text-align: left;
		font-size: 3.5em;
		line-height: 1em;
		position: relative;
		width: 35%;
		left: 25%;
		display: inline-block;
	}

	/* B.Sc RWTH */
	h1+p {
		/*subtitle*/
		font-style: italic;
		font-family: 'Open Sans', sans-serif;
		font-size: 100%;
		position: relative;
		text-align: left;
		width: 30%;
		left: 20%;
		display: inline-block;
	}

	h2 {
		font-size: 1.1em;
		color: #b91414;
		margin-bottom: 1.7em;
		position: relative;
		display: block;
		top: 1.4em;
		left: 0.8%;
		text-align: right;
		width: 20%;
	}

	/* link */
	a {
		color: #b91414;
	}

	a:hover {
		color:#315572;
	}

	/* link italic */
	p a {
		font-size: 100%;
		font-style: italic;
	}

	/* email */
	#webaddress {
		position: relative;
		left: 26%;
		color: #315572;
		font-family:'Source Code Pro', monospace;
		font-size: 100%;
		margin-bottom: -3em;
	}

	#webaddress a {
		color:#315572;
		display: inline-block;
		text-decoration: none;
	}

	em {
		font-size: 90%;
		font-style: italic;
	}

	#webaddress p {
		left: 0.1%;
		color:#b91414;
		font-family: 'Source Code Pro', monospace;
		font-size: 80%;
		display: block;
		text-decoration: none;
	}

	/* upleft corner*/
	#language span{
		font-size: 0.9em;
		display: block;
		top:-2.5em;
		margin-bottom: 0em;
		position: relative;
		text-align: right;
		width: 20%;
	}

	img {
		width: 7%;
		height: auto;
	}

	i {
		display: inline;
		position: absolute;
		text-align: left;
		left: 20%;
		width: 50%;
	}

	ii {
		display: inline;
		font-style: italic;
		position: absolute;
		text-align: left;
		left: 38%;
	}


}
